.app{
  min-height: 100vh;
  background: rgb(77, 185, 221);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tweet{
  border: 2px solid #000;
  height: 300px;
  width: 20vw;
  background: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
.red{
  color: red;
  font-size: 18px;
}